k8sServiceHost: "10.1.1.10"
k8sServicePort: 6443

bgpControlPlane:
  enabled: true
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - "10.42.0.0/16"
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_MODULE
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
      - NET_BIND_SERVICE
kubeProxyReplacement: true
installCRDs: true
l7Proxy: true
l2announcements:
  enabled: true
gatewayAPI:
  enabled: true
ingressController:
  enabled: true
  loadbalancerMode: shared
  service:
    loadBalancerIP: "10.1.2.150"