# additional resources like ingress rules, cluster and repository secrets.
namespace: argocd

resources:
- github.com/argoproj/argo-cd//manifests/cluster-install?ref=stable
- https://raw.githubusercontent.com/240snusn/homelab/k3s/argocd/argoingress.yaml

# changes to config maps

patches:
- path: https://raw.githubusercontent.com/240snusn/homelab/k3s/argocd/argocd-cm.yaml
- path: https://raw.githubusercontent.com/240snusn/homelab/k3s/argocd/argocd-rbac-cm.yaml
