name: Apply Secrets

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment

jobs:
  apply-secrets:
    environment: ${{ inputs.environment }}
    runs-on: arc-runner-set
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Apply github-client-secret
        env:
          GITHUBCLIENTSECRET: ${{ secrets.GITHUBCLIENTSECRET }}
        run: |
          cat <<EOF | kubectl diff -f -
          apiVersion: v1
          kind: Secret
          metadata:
            name: github-client-secret
            namespace: argocd
            labels:
              app.kubernetes.io/part-of: argocd
          type: Opaque
          stringData:
            dex.github.clientSecret: ${GITHUBCLIENTSECRET}
          EOF

      - name: Apply cloudflare-api-key
        env:
          cloudflareAPItoken: ${{ secrets.CLOUDFLAREAPITOKEN }}
        run: |
          cat <<EOF | kubectl diff -f -
          apiVersion: v1
          stringData:
            apiKey: ${cloudflareAPItoken} 
          kind: Secret
          metadata:
            name: cloudflare-api-key
            namespace: externaldns
          EOF

      - name: Apply cloudflare-api-token-secret
        env:
          cloudflareAPItoken: ${{ secrets.CLOUDFLAREAPITOKEN }}
        run: |
          cat <<EOF | kubectl diff -f -
          apiVersion: v1
          kind: Secret
          metadata:
            name: cloudflare-api-token-secret
            namespace: cert-manager
          type: Opaque
          stringData:
            api-token: ${cloudflareAPItoken}
          EOF

      - name: Apply renovate-secrets
        env:
          GITHUBCOMTOKEN: ${{ secrets.GITHUBCOMTOKEN }}
        run: |
          cat <<EOF | kubectl diff -f -
          apiVersion: v1
          kind: Secret
          metadata:
            name: renovate-secrets
            namespace: renovate
          type: Opaque
          stringData:
            RENOVATE_TOKEN: ${GITHUBCOMTOKEN}
          EOF
